<%- include("baseContent/MainHeader"); %>

<div class="mainContent">
  <div class="mainContent">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mainTitle">
            <h1>BE A FOOD HUNTER</h1>
            <h2><i>Your perfect coffe, lunch or dinner are here, be part of the HUNTERS</i></h2>
            <a class="buttonCheck" href="/restaurants">Check it now</a>
          </div>
        </div>
        <div class="col">
          <img class="imgMain" src="img/img2.png" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("baseContent/Footer"); %>