
<div class="container">
  
  <div class="row">
    <div class="col">
      <div class="restaurantMiniDisplay2">
        <img src="img/restaurant1.jpg" alt="" srcset="">
        <div class="restaurantText">
          <h1>Hamburguer Gold</h1>
          <i class="fas fa-star"></i><i class="fas fa-star"></i>
          <h2>Five Avenue, 210, New York</h2>
          <a class="buttonCheck" href="/restaurants">Check it now</a>
        </div>

      </div>
    </div>
  
    <div class="col">
      <div class="restaurantMiniDisplay2">
        <img src="img/restaurant1.jpg" alt="" srcset="">
        <div class="restaurantText">
          <h1>Hamburguer Gold</h1>
          <i class="fas fa-star"></i><i class="fas fa-star"></i>
          <h2>Five Avenue, 210, New York</h2>
          <a class="buttonCheck" href="/restaurants">Check it now</a>
        </div>

      </div>
    </div>
  
    <div class="col">
      <div class="restaurantMiniDisplay2">
        <img src="img/restaurant1.jpg" alt="" srcset="">
        <div class="restaurantText">
          <h1>Hamburguer Gold</h1>
          <i class="fas fa-star"></i><i class="fas fa-star"></i>
          <h2>Five Avenue, 210, New York</h2>
          <a class="buttonCheck" href="/restaurants">Check it now</a>
        </div>

      </div>
    </div>

</div>


