<nav class="navbar navbar-expand-lg nav-bar-color">
  <a class="navbar-brand" href="#">FOOD HUNTER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><i class="fas fa-utensils fa-2x"></i>

    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/restaurants">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addRestaurants">Add new Restaurant</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle btn-mainSite" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Content
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/addRestaurants">Add Breakfast restaurants</a>
          <a class="dropdown-item" href="/dinner">Add Dinner restaurants</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </ul>
  </div>
</nav>